
@{
    ViewData["Title"] = "Notificationspage";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<h1>Notifications page</h1>
<form action="/Notification/CreateNotification">
    <div class="form-group">
        <button class="btn btn-success">Create notification</button>
    </div>
</form>
<form action="/Notification/MyNotifications">
    <div class="form-group">
        <button class="btn btn-success">My notification</button>
    </div>
</form>

